<div class="wrapper">

  <h1 class="text-center">Mon tableau de bord</h1>

  <div class="flexbox-2">

    <div class="colum-l" >
      <div>
        <h2 class="text-center"><%= link_to "Evolution de mes Analyses", user_analyses_path %></h2>
        <br>
        <% @analyses_grouped_by_name.each do |name, user_analyses| %>
          <div id="all-analyses" class="graph-container">
            <% min_value = user_analyses.map { |user_analysis| user_analysis.analysis.min_value }.join(', ') %>
            <% max_value = user_analyses.map { |user_analysis| user_analysis.analysis.max_value }.join(', ') %>
            <% values = user_analyses.map(&:value).join(', ') %>
            <% x_axis_dates = user_analyses.map { |user_analysis| user_analysis.checkup.realized_on.strftime("%d/%m/%G") }.join(', ') %>
            <% y_axis_title = user_analyses.first.analysis.unit %>
            <h2 class="text-center"><%=name %></h2>
            <div id="container-analyses" data-min-value='<%= min_value %>' data-max-value='<%= max_value %>' data-values='<%= values %>' data-dates='<%= x_axis_dates %>' data-unit='<%= y_axis_title %>'></div>
          </div>
        <% end %>
      </div>
      <div>
        <h2 class="text-center"><%= link_to "Historique de mes Analyses", checkups_path %></h2>
        <br>
        <div class="flexbox-2">
          <div class="columns-history"> <h5>Réalisées le</h5></div>
          <div class="columns-history"> <h5>Au Laboratoire</h5></div>
        </div>
        <% current_user.checkups.first(5).each do |checkup| %>
          <div class="flexbox-2" >
            <div class="columns-history" ><%= checkup.realized_on %></div>
            <div class="columns-history" ><%= checkup.laboratory_name %></div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="column-r" >
      <%= render "shared/choose_a_file" %>
    </div>

  </div>

</div>






