<div class="wrapper">
  <h1 class='text-center'>Évolution de vos analyses</h1>

  <div class="all-graphs-wrapper">
    <% @analyses_grouped_by_name.each do |name, user_analyses| %>
      <div class="graph-container">
        <% min_value = user_analyses.map { |user_analysis| user_analysis.analysis.min_value }.join(', ') %>
        <% max_value = user_analyses.map { |user_analysis| user_analysis.analysis.max_value }.join(', ') %>
        <% values = user_analyses.map(&:value).join(', ') %>
        <% x_axis_dates = user_analyses.map { |user_analysis| user_analysis.checkup.realized_on.strftime("%d/%m/%G") }.join(', ') %>
        <% y_axis_title = user_analyses.first.analysis.unit %>
        <h2 class="text-center"><%=name %></h2>
        <div class="container-analyses" id="graph-<%= name.parameterize %>" data-min-value='<%= min_value %>' data-max-value='<%= max_value %>' data-values='<%= values %>' data-dates='<%= x_axis_dates %>' data-unit='<%= y_axis_title %>'></div>
      </div>
    <% end %>
  </div>
</div>
