<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
  <div class="small-logo">
    <%= image_tag('logofg.jpg')%>
  </div>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="flex-container">
      <div class="flex-item">
        <%= link_to "M'informer", edit_user_registration_path %>
      </div>
      <div class="flex-item">
        <%= link_to "Carte", edit_user_registration_path %>
      </div>
      <div class="flex-item">
        <%= link_to "A propos", edit_user_registration_path %>
      </div>
  </div>
  <div  id="navbarSupportedContent">
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto collapse navbar-collapse">
        <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Editer mon profil", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Tableau de bord", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Mon historique", checkups_path, class: "dropdown-item" %>
            <%= link_to "Evolution", user_analyses_path, class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% else %>
      <div class="flex-container-signup">
        <div class="flex-item">
          <%= link_to "Inscription", new_user_registration_path %>
        </div>
        <div class="flex-item">
          <%= link_to "Se connecter", new_user_session_path %>
        </div>
      </div>
    <% end %>
  </div>
</div>
