
  <div class="wrapper">
    <h1 class="text-center"></h1>
    <div class="search-analyses" >
      <%= simple_form_for :search, url: in_analyses_search_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Recherchez une analyse" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
          </button>
        </div>
      <% end %>
    </div>

    <div class="analyses-flex">
      <div class="analyses-r" >
        <div><%= image_tag "man.png", width:500 %></div>
      </div>
      <div class="analyses-c">
        <% @categories.each do |category, analysis| %>
        <!-- Button trigger modal -->
          <button type="button" data-toggle="modal" data-target="#category<%= category.id %>">
            <h4 class="text-center"><i class="fas fa-info-circle"></i> <br> <%= category.name %></h4>
          </button>
          <!-- Modal -->
          <div class="modal fade" id="category<%= category.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"><%= category.name %></h5>
                </div>
                <div class="modal-body">
                  <% category.analyses.each do |analysis| %>
                    <ul class="fa-ul">
                      <h5><li><span class="fa-li"><i class="fas fa-chevron-circle-right"></i></span><%= link_to analysis.name, analysis_path(analysis) %></li></h5>
                    </ul>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal"> X </button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="analyses-l" >
        <div><%= image_tag "female.png", width:500 %></div>
      </div>
    </div>
  </div>

