<div class="bg">
  <div class="wrapper">
    <div class="analysis-card">
      <div class="analysis-card-title" >
        <h2 class= "text-center"><%= @analysis.name %></h2>
      </div>
      <div class="analysis-values">
        Valeurs de Référence : <%= @analysis.min_value %> - <%= @analysis.max_value %><%= @analysis.unit %>
      </div>
      <div class="analysis-description" >
        <%= @analysis.description %>
      </div>
      <div class="analysis-picture" >
        <% if @analysis.photo.attached? %>
          <%= cl_image_tag @analysis.photo.key %>
        <% end %>
      </div>
      <div class="analysis-card-bottom" >
        <br>
        <br>
      </div>
    </div>
    <div class="retour" >
      <%= link_to analyses_path do %>
        <h4><i class="fas fa-chevron-left"></i> Retour</h4>
      <% end %>
    </div>
  </div>
</div>

