<div class="banner">
  <div>
    <% if user_signed_in? %>
      <%= link_to "Comprendre mes analyses", user_path(current_user), class: "button-big" %>
    <% else %>
      <%= link_to "Comprendre mes analyses", new_user_session_path , class: "button-big" %>
    <% end %>
  </div>
</div>

<div class="flex-container2">
  <div class="flex-card" >
    <div> <%= image_tag "secure", width: 400 %> </div>
    <div> <h5>Un espace sécurisé pour vos analyses</h5> </div>
  </div>
  <div class="flex-card" >
    <div> <%= image_tag "dashboard", width: 400%> </div>
    <div> <h5>Un tableau de bord intégré</h5></div>
  </div>
  <div class="flex-card" >
    <div> <%= image_tag "graph", width: 400 %> </div>
    <div> <h5>Des graphiques pour suivre l'évolution de vos analyses</h5></div>
  </div>
</div>
