<div class="banner">
  <div>
    <% if user_signed_in? %>
      <%= link_to "Comprendre mes analyses", user_path(current_user), class: "button-big" %>
    <% else %>
      <%= link_to "Comprendre mes analyses", new_user_session_path , class: "button-big" %>
    <% end %>
  </div>
</div>
<hr>
<div class="flex-container2">
  <div class="flex-card" >
    <div> <%= image_tag "secure.png", width: 400 %> </div>
    <div> <h4>Un espace sécurisé <br> pour vos analyses</h4> </div>
  </div>
  <div class="flex-card" >
    <div> <%= image_tag "dashboard.png", width: 400 %> </div>
    <div> <h4>Un tableau de bord <br> intégré</h4></div>
  </div>
  <div class="flex-card" >
    <div> <%= image_tag "graph.png", width: 400 %> </div>
    <div> <h4>Des graphiques pour suivre <br>l'évolution de vos analyses</h4></div>
  </div>
</div>
