 <div class="bg-form">
  <div class="wrapper d-flex flex-column align-items-center mt-5">
      <div class= "col-md-6 col-sm-12 bg-white font-weight-bold " >
          <h1> Votre analyse</h1>
          <%= simple_form_for @checkup do |f| %>
            <%= f.input :realized_on, :label => "Réalisée le", as: :string, required: false, input_html: {class: "datepicker"}%>
            <%= f.input :laboratory_name, label: "Laboratoire" %>
            <% @user_analyses.each do |ua| %>
              <%= f.simple_fields_for :user_analyses, UserAnalysis.new do |ua| %>
                <%= ua.input :name, :label => "Analyse" %>
                <%= ua.input :value,  :label => "Valeur" %>
              <%end %>
            <% end %>
          <div class="button-wrapper">
          <%= f.submit "Enregistrer analyses", class: "button-blue"%>
        </div>
        <% end %>
      </div>
  </div>
</div>