<div class="wrapper">
  <h1 class="text-center">Historique de vos analyses</h1>

  <div class="download-wrapper">
    <h3 class="text-center">Ajouter des analyses</h3>
    <%= render "shared/choose_a_file" %>
  </div>

  <div class="flexbox-2" >
    <div class="cards">
      <% @checkups.each do |checkup| %>
        <div class="card-analyses">
          <div class="card-analyses-top">
            <i class="far fa-calendar"></i>
            <h6>Réalisées le <%= checkup.realized_on.strftime("%d/%m/%G") %></h6>
          </div>

          <div class="card-analyses-middle">
            <i class="fas fa-map-marker-alt"></i>
            <p><%= checkup.laboratory_name %></p>
          </div>

          <div class="card-analyses-bottom">
            <%= link_to "Voir le détail", checkup_path(checkup) %>
            <%= link_to checkup_path(checkup), method: :delete, data: { confirm: "Êtes-vous sûr de supprimer ces analyses ?" } do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <%= image_tag "historiques-des-analyses.png" %>
    </div>
  </div>

</div>
