 <div class="bg-form">
  <div class="wrapper d-flex flex-column align-items-center mt-5">
      <div class= "col-md-6 col-sm-12 bg-white font-weight-bold " >
          <h1> Votre analyse</h1>
          <%= simple_form_for @checkup do |f| %>
            <%= f.input :realized_on, :label => "Réalisée le", as: :string, required: false, input_html: {class: "datepicker"}%>
            <%= f.input :laboratory_name, label: "Laboratoire" %>
            <% @results.keys.each do |analysis_id| %>
              <%= f.simple_fields_for :user_analyses, UserAnalysis.new do |ua| %>
                <%= ua.input :analysis_id, :label => "Analyse", collection: Analysis.all, selected: analysis_id %>
                <%= ua.input :value,  :label => "Valeur",input_html: {value: @results[analysis_id].to_f} %>
              <% end %>
            <% end %>
          <div class="button-wrapper">
          <%= f.submit "Enregistrer analyses", class: "button-blue"%>
        </div>
        <% end %>
      </div>
  </div>
</div>

