<div class="wrapper" >
  <h1 class="text-center"> Mes analyses du <%= @checkup.realized_on %> en détails </h1>
  <% @grouped_user_analyses.each do |category, user_analyses| %>
    <div class="category-card">
      <div class="category-card-title" >
        <h2><%= category.name %></h2>
      </div>
      <% user_analyses.each do |user_analysis| %>
      <div class="category-card-content">
          <div class="category-card-column"><button class="btn btn-info" type="button" data-toggle="collapse" data-target=".multi-collapse<%= user_analysis.id %>" aria-expanded="false" aria-controls="multiCollapseExample1<%= user_analysis.id %>  multiCollapseExample2<%= user_analysis.id %>"><i class="fas fa-arrow-alt-circle-down"></i></button></div>
          <div class="category-card-column" > <h5><%= user_analysis.name %></h5></div>
          <div class="category-card-column" ><%= user_analysis.value %><%= user_analysis.analysis.unit %></div>
          <div class="category-card-column" ><%= user_analysis.analysis.min_value %></div>
          <div class="category-card-column" ><%= user_analysis.analysis.max_value %></div>
      </div>
      <div class="row">
        <div class="col mx-3 my-3">
          <div class="collapse multi-collapse<%= user_analysis.id %>" id="multiCollapseExample1<%= user_analysis.id %>">
            <div class="card card-body">
              <p> <%=  user_analysis.analysis.description %> </p>
            </div>
          </div>
        </div>
        <div class="col mx-3 my-3">
          <div class="collapse multi-collapse<%= user_analysis.id %>" id="multiCollapseExample2<%= user_analysis.id %>">
            <div class="card card-body">
              <% if user_analysis.analysis.photo.attached? %>
                <%= cl_image_tag user_analysis.analysis.photo.key %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="category-card-bottom" >
        <br>
        <br>
      </div>
    </div>
  <% end %>
</div>
